<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Data Science Tools and Ecosystem

## In this notebook, the tools and ecosystems of data science are summarized.

### Some of the popular languages used by data scientists are:
1. Python
2. R
3. SQL
4. Julia
5. Scala

### Some of the popular libraries used by data scientists are:

#### 1. Python:

1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn
5. TensorFlow

#### 2. R:

1. dplyr
2. ggplot2
3. tidyr
4. caret
5. shiny

| Data Science Tools|
|----|
| Python |
| R |
| SQL |
| Orange |
|Tableau|
|Jupyter Notebook|
|Power BI|

### Some examples of arithmetic expessions in Python

A simple arithmetic expression to multiply and then add

In [7]:
(3*4)+5

17

To convert 200 minutes to hours, divide by 60

In [8]:
200/60

3.3333333333333335

__Learning objectives__

- Popular libraries used by data scientist
- Popular languages used by data scientists
- Convert minutes to hours
- Arithmetic expressions

## Author

Marina Osorio Dionis